* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(236, 236, 236);
    --secondary-color: rgb(21, 21, 21);
    --blue-color: #2bc5cd;
    --orange-color: #ff693d;
    --border: 2px solid var(--blue-color);
    --spacing: 28px;
    --font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 20px;
    background-color: var(--primary-color);
    min-height: 100vh;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:
    1fr
    1fr
    1fr;
    grid-template-areas:
    "encabezado escuela estudiante"
    "encabezado contenido tiempo"
    "alumno pie pie";
    gap: var(--spacing);
}

/* Resto del CSS */

header {
    background-color: var(--blue-color);
    display: grid;
    text-align: center;
    grid-area: encabezado;
    padding: 20px;
}

header > h1 {
    font-family: var(--font-family);
    color: var(--primary-color);
}

header > p {
    font-family: var(--font-family);
    color: var(--primary-color);
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px;
}

#content {
    border: var(--border);
    font-family: var(--font-family);
    color: var(--blue-color);
    text-align: center;
    display: grid;
    grid-area: contenido;
    align-items: center;
}

#content > h2 {
    margin: 0 20px;
}

.school {
    grid-area: escuela;
    background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/d8ce469044b958508f4bdbab/blueschoolbackpackwithessentialsupplies_232148207678.jpg);
}

.student {
    grid-area: estudiante;
    background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/9e4ce16148dd5cbeb1065410/89f80abe-6acd-d8dc-a341-3e571206975b.jpg);
}

.time {
    grid-area: tiempo;
    background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/773a5aa425b1502aaac14708/f2b45624-c8f6-3aa0-0ee4-58adda3c89b0.jpg);
}

.alumni {
    grid-area: alumno;
    background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/89993ff69c3e5244ad2bf1ba/blondestudentgirlissmilingholdingfoldernotebookherhandsuniversitybackground_101969664.jpg);
}

footer {
    font-family: var(--font-family);
    color: var(--primary-color);
    background-color: var(--orange-color);
    display: grid;
    text-align:left;
    grid-area: pie;
    gap: 20px;
}

footer > h3 {
    margin-top: 20px;
    margin-left: 20px;
}

footer > p {
    margin-left: 20px;
}

footer > button {
    margin-bottom: 40px;
    margin-left: 20px;
    width: 150px;
    height: 40px;
}

.alumni,
.school,
.student,
.time {
background-size: cover;
height: 100%; /* Cambiado para asegurarse de que ocupa todo el contenedor */
background-size: cover; /* Mantener para que la imagen de fondo cubra toda el área */
background-position: center; /* Asegura que la imagen esté centrada */
}

/*media-query*/

@media screen and (max-width: 800px) {
	body {
		grid-template-areas: "encabezado"
		                     "escuela"
		                     "estudiante"
		                     "contenido"
		                     "tiempo"
                             "alumno"
                             "pie";
		grid-template-columns: 1fr;
		grid-template-rows: 500px 
							1fr
                            1fr
                            1fr
                            1fr
                            1fr
                            1fr;
	}

.alumni,
.school,
.student,
.time {
height: 100%; /* Cambiado para asegurarse de que ocupa todo el contenedor */
background-size: cover; /* Mantener para que la imagen de fondo cubra toda el área */
background-position: center; /* Asegura que la imagen esté centrada */
    }
}

